<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Background:</b>
  <%= @character.background %>
</p>

<p>
  <b>Active:</b>
  <%= @character.active %>
</p>


<%= link_to 'Edit', edit_player_character_path(@player, @character) %> |
<%= link_to 'Back', player_characters_path(@player) %>
